<div id="wrap">
<div id="title">
	<h1><a href="#">Minamirbist</a></h1>
</div>
<div id="side">
	<ul>
		<li><a class="item" href="/members">Member</a></li>
			<li><a class="itemsub" href="/members/new">new member</a></li>
		<li><a class="item" href="/events">Event</a></li>
			<li><a class="itemsub" href="/events/new">new event</a></li>
		<li><a class="item" href="/agreement">agreement</a></li>
			<li><a class="itemsub" href="#">log in</a></li>
			<li><a class="itemsub" href="#">log out</a></li>
	</ul>
</div>
<div id="content">
	<h1>Hello</h1>
	<p>This design makes use of a somewhat underused item in the technical community: a leaf.
	The original image is from <a href="http://www.freeimages.co.uk">FreeImages</a>; I just used my very limited
	PhotoShop skills to hack it up a bit.</p>
	<h2>An H2 Subheading</h2>
	<p>This design is valid XHTML 1.1. Unfortunately, due to the opacity of the menu buttons, the CSS will
	not validate. "Opacity" is a CSS3 valid object, however Internet Explorer 6, as usual, doesn't
	recognise the opacity element. A proprietary IE opacity	object has been used to create the same opacity effect
	in IE, but this will cause CSS validation to fail. If you are a validation Nazi you can easily remove
	the IE opacity effect; the design will work without it.
	But people using Internet Explorer should be given more reason to upgrade :)</p>
	<p class="quote">This design is released under the Creative Commons license. Do what you will with it;
	the only thing I request in return is that you leave the link to my Web site intact.</p>
</div>
<div id="footer"></div>
</div>
<div id="bottom">
	<p><a href="http://qwik.jp/minamirb/FrontPage.html">&copy; 2010 Minami.rb</p>
	<p><a href="http://gregdev.net">Origial designed by Greg Smith</a></p>
	<p><a href="http://shimizumari.com/fuwa2li">Matelial is from ふわふわ。り</a></p>
</div>

<div style="font-size: 0.8em; text-align: center; margin-top: 1.0em; margin-bottom: 1.0em;">
Design downloaded from <a href="http://www.freewebtemplates.com/">Free Templates</a> - your source for free web templates
</div>
