<body>
  <div id="wrap">
	<div id="title">
		<h1><%= link_to 'Minamirbist', '/members' %></h1>
	</div>
	<div id="content">
		<p>Minami.rb へ ようこそ</p>
	</div>
	<div id="bottom">
		<p><a href="http://qwik.jp/minamirb/FrontPage.html">&copy; 2010 Minami.rb</p>
		<p><a href="http://gregdev.net">Original designed by Greg Smith</a></p>
		<p><a href="http://shimizumari.com/fuwa2li">Matelial is from ふわふわ。り</a></p>
	</div>
  </div>
</body>
</html>
