<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja">
<head>
  <%= stylesheet_link_tag 'welcome' %>
  <%= csrf_meta_tag %>
  <title>Minami.rb list</title>
</head>
<body>

<%= yield %>

</body>
</html>
